<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Smart Cafe App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/toaster.css') }}">
  </head>

  <body>
    <header>
      <h1>Smart Cafe App</h1>
    </header>

    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="toaster-container">
            {% for message in messages %}
              <div class="toaster {{ message[1] }} show">{{ message[0] }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
