<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Data View</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/data.css') }}">
  </head>
  <body>
    <header>
      <h1>Data View</h1>
    </header>
    <main>
        {% if message %}
        <p>{{ message }}</p>
        {% else %}
        <table>
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Table No</th>
              <th>Your Name</th>
              <th>Food 1</th>
              <th>Food 2</th>
              <th>Food 3</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br><br><br>
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="button">Add Data</a> 
        </div>
        {% endif %}
    </main>
  </body>
</html>